<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register on MovieFlix</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <link href="css/movieflix.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="HomePage.html"> <img src="logo.png" height=50px width=120px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
						<a href="LoginPage.html">Home</a>
					</li>
					<li>
                        <a href="SignupPage.html">Register Now</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sign Up
                    <small>Enter Your Details</small>
                </h1>
            </div>
        </div>
        
		<img class="center-block" src="logo.png" />
		
        <center>
		<form data-toggle="validator" role="form" style="display: block;">
   
			<div class="form-group">
				<label for="inputName" class="control-label">Name</label>
				<input type="name" class="form-control" id="inputName" placeholder="Full Name" data-error="Enter your Name" style="width:300px" required>
				<div class="help-block with-errors"></div>
			</div>
			
			<div class="form-group">
				<label for="inputCity" class="control-label">City</label>
				<input type="name" class="form-control" id="inputName" placeholder="City" data-error="Enter City" style="width:300px" required>
				<div class="help-block with-errors"></div>
			</div>
			
			<div class="form-group">
				<label for="inputEmail" class="control-label">Email</label>
				<input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Enter a valid Email" style="width:300px" required>
				<div class="help-block with-errors"></div>
			</div>
 
			<div class="form-group">
				<label for="inputPassword" class="control-label">Password</label>
				<input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" style="width:300px" required>       
				<div class="help-block with-errors"></div>			
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			
			<div class="form-group">
				<button type="reset" class="btn btn-warning" value="Reset">Reset</button>
			</div>

		</form>
		</center>
		
		<div align="center">
		<span class="psw" onClick='alert("Please Contact Admin***Syed Saifuddin:  8329987631***")'> <a href="#">Need Help?</a></span>
        </div>
        
        <!-- Footer -->
        <footer align="center">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MovieFlix 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
